/* uga buga */
* { 
    padding: 0; 
    margin: 0; 
    font-family:  "Noto Sans JP", 'Times New Roman', Times, serif
}

body { 
     background: linear-gradient(180deg, rgb(157, 158, 158) 0%, rgb(243, 243, 243) 100%);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}
.hide {
     display: none
}

.container { 
    background-color: rgb(21, 27, 27);
    box-shadow: rgb(55, 83, 83);
    padding: 2rem;
    color: white;
    border-radius: 2rem; 
        
}
/* Form */
.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex; 
}

.form input{ 
     color:black; 
     padding: .8rem;
     border: none;
     flex: 1; 
     border-radius: 5px;

}
.form button { 
     padding: .8rem;
     min-height: 50px;
     margin-left: 8px;
     background-color: #8dd; 
     color: black;
     border: none;
     cursor: pointer; 
     border-radius: 5px;

}

/* Clima */
#weather-data { 
     border-top: 1px solid white;
     margin-top: 1.5rem; 
     padding-top: 1.5rem; 
     text-align: center;
}
#weather-data h2 { 
    display: 1px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;

}
#weather-data h2 i { 
    font-size: 1rem;

}
#weather-data span { 
    margin: 0.6;
}

#country { 
    height: 15px; 
}

#description-container { 
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0.6rem 0;
}


#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


#details-container #umidity  {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
  }


